# Create a file in this folder named wsl_startup.env. Use it to set or override variables used in wsl_startup.sh.
# NOTE: This sourced file must have LF line endings, not CRLF, or the mount command will fail.

# WSL_WORKSPACES_VHDX_FILE="<windows path to vhdx workspace drive, e.g. c:\\wsl\\workspaces.vhdx>"
